@import "@material/theme/color-palette";

$mdc-theme-primary: #648f01;
$mdc-theme-secondary: #0a0af5;
$mdc-theme-surface: #fff;
$mdc-tab: #0a0af5;
$mdc-tab__text-label: #f50ae9;
$mdc-tab__icon: #f50ae9;
$material-icons: #f50ae9;

$mdc-tab-bar: #f50ae9;
$mdc-tab-scroller: #0a0af5;
$mdc-tab-indicator: #0a0af5;
$mdc-tab: #0a0af5;
