@import "@material/theme/color-palette";

$mdc-typography-font-family: unquote("Roboto, sans-serif");

$mdc-theme-primary: #648f01;
$mdc-theme-on-primary: #f57f17;
$mdc-theme-secondary: #85a832;
$mdc-theme-on-secondary: #e3f5bb;
$mdc-theme-surface: #648f01;
$mdc-theme-on-surface: #000000;
$mdc-theme-background: #648f01;
$mdc-theme-on-background: #f57f17;
